{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% import '@Category/macros/category-macros.html.twig' as macros %}

{% block category %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for category in categories %}
                {% if category.parent == null %}
                    <li class="dropdown-submenu">
                        <a class="submenu" href="{{ path('product_category_list', {'category': category.name}) }}">{{ category.name }}</a>
                        {% if category.children|length > 0 %}
                            {{ macros.category_macros(category.children) }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="container product-list clearfix">
            {% for product in products %}
                <li class="col-sm-3 product-item">
                    <img src="/uploads/images/products/{{ product.imageName }}" alt="">
                    <h2 class="text-center"><a href="{{ path('product_view', {'id': product.id}) }}">{{ product.name }}</a></h2>
                </li>
            {% endfor %}
        </ul>
        <div class="navigation text-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}