{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="back_link">
            <a class="btn btn-primary" href="{{ path('catalog_homepage') }}">Back</a>
        </div>
        <div class="col-lg-3">
            <img src="/uploads/images/products/{{ product.imageName }}" alt="">
        </div>
        <div class="col-lg-9">
            <h2 class="text-center">{{ product.name }}</h2>
            <p class="description">{{ product.description }}</p>
            <p class="price">{{ product.price }}</p>
            <a class="btn btn-success" href="{{ path('buy_product', {'id': product.id}) }}">Buy</a>
        </div>
    </div>
{% endblock %}